.App {
  background-image: url('../public/glassesImage/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
.heading-glass{
  text-align: center;
  background-color: rgb(63, 63, 63);
  opacity: 0.5;
}
.heading-glass h1{
  color: white;
}
.model{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  
}
.vglasses__model{
  background-image: url('../public/glassesImage/model.jpg');
  background-position: center top;
  background-size: cover;
  height: 520px;
}
.vglasses__model img{
  position: absolute;
  top: 26%;
  left: 25%;
  width: 190px;
  height: 60px;
  opacity: 0.9;
  display: block;
}
.content-change{
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.b{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.glass-bottom .col-2{
    align-self: center;
}

.vglasses__items{
  cursor: pointer;
}
.vglasses__info{
    position: absolute;
    bottom:0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    color: white;
    padding: 20px 10px;
    display: block;
    z-index: 999;
}
.glass-name{
  color: red;
  font-weight: bold;
  margin-right: 20px;
}
.glass-des{
  color: white;
  font-weight: 500;
}
